{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            <div class="col l4 m6 s12">
                <div class="container">
                    <h4 class="center">{{ user.first_name }} {{ user.last_name }}</h4>
                    <img  class="profile-img" src="{{ profile.profile_pic }}" alt="{{ user.first_name }}">
                    <div class="file-field input-field">
                        <div class="btn blue darken-4">
                            <span>Breyta forsíðumynd</span>
                            <input type="file" name="myfile">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <h4 class="center">Breyta upplýsingum</h4>
                {% csrf_token %}
                {% for element in userform %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ element }}
                            <label for="{{ element.id }}">{{ element.label_tag }}</label>
                        </div>
                    </div>
                {% endfor %}
                {% for element in form %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ element }}
                            <label for="{{ element.id }}">{{ element.label_tag }}</label>
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn green darken-3">Breyta</button>
        </form>
    </div>
    <div class="col l4 m6 s12">
        <div class="container">
            <a href="{% url 'profile-history' %}"><button class="row col l12 m12 s12 btn blue darken-4">Leitarsaga</button></a>
            <a href="{% url 'profile-myProps' %}"><button class="row col l12 m12 s12  btn blue darken-4">Mínar fasteignir</button></a>
            <a href="{% url 'profile-wishList' %}"><button class="row col l12 m12 s12  btn blue darken-4">Óskalisti</button></a>
        </div>
    </div>
    </div>
{% endblock %}