{% extends 'base.html' %}

{% block content %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="profile.css" />
<h1>{{ profile }}</h1>

<div id="ProfilePage">
    <div class="myndir">
    <img src="" alt="Profile photo">


    <div id="Info">
        <h5>Breyta upplýsingum</h5>
        <p>
            <strong>Nafn:</strong>
            <span>Karl Vignir Þorsteinsson</span>
        </p>
        <p>
            <strong>Notendanafn:</strong>
            <span>hvarerukrakkarnir</span>
        </p>
        <p>
            <strong>Netfang:</strong>
            <span>hækrakkar@perrar.is</span>
        </p>
        <p>
            <strong>Símanúmer:</strong>
            <span>564 6969</span>
        </p>
        <p>
            <strong>Lykilorð:</strong>
            <span>*******</span>
        </p>

        <h5>Reikningsupplýsingar</h5>
         <p>

            <strong>Kennitala:</strong>
            <span>2304586969</span>
        </p>
        <p>
            <strong>Bankanúmer: </strong>
            <span>0536 - 26 - 230458</span>
        </p>
    </div>

</div>
{% endblock %}