{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load humanize %}
    <div class="container">
        <div class="row">
            <div class="col l8 m8 s12">
                <ul class="collection">
                    {% if houses %}
                        {% for prop in houses %}
                            <li class="collection-item avatar">
                                <img src="{{ prop.house.houseimage_set.first.image }}" alt="{{ prop.house.address }} {{ prop.house.street_nr }}" class="circle">
                                <span class="title"><strong>{{ prop.house.address }} {{ prop.house.street_nr }}</strong></span>
                                <p>
                                    Verð: <strong>{{ prop.house.price|intcomma }} kr.</strong>
                                    <br>
                                    Tilboðsgjafi: {{ prop.user.first_name }} {{ prop.user.last_name }}
                                    <br>
                                    Sími: {{ prop.user.profile.phone }}
                                    <br>
                                    Tölvupóstur: {{ prop.user.email }}
                                    <br>
                                    Tilboð: <strong class="red-text">{{ prop.price|intcomma }} kr.</strong>
                                </p>
                                {% if seller %}
                                    <a class="btn green secondary-content right" href="{% url 'profile-view-offer' prop.id %}">Skoða tilboð</a>
                                {% else %}
                                    <a class="btn green secondary-content right modal-trigger" href="#modal1">Skoða tilboð</a>
                                    <div id="modal1" class="modal">
                                        <div class="modal-content">
                                            <h4>Staðfesting á tilboði</h4>
                                            <p>
                                            <div class="container">
                                                <div>
                                                    <img class="responsive-img" src="{{ prop.house.houseimage_set.first }}" alt="{{ prop.house.address }} {{ prop.house.street_nr }}">
                                                </div>
                                                <table class="float-right">
                                                    <tbody>
                                                    <tr>
                                                        <th>Tilboðs upphæð</th>
                                                        <td class="right-align">{{ prop.price }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Kaupandi</th>
                                                        <td class="right-align">{{ prop.user.first_name }} {{ prop.user.last_name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Seljandi</th>
                                                        <td class="right-align">{{ prop.seller.first_name }} {{ prop.seller.last_name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>E-mail</th>
                                                        <td class="right-align">{{ prop.user.profile.kt }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Sími</th>
                                                        <td class="right-align">{{ prop.user.profile.phone }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <a class="modal-close waves-effect waves-green btn-flat grey right">Loka</a>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <h3 class="red-text center">
                            Engar niðurstöður fundust
                            <br>
                            <i style="font-size: 2em" class="center material-icons">error</i>
                        </h3>
                    {% endif %}
                </ul>
            </div>
            <div class="col l4 m4 s12 buttons">
                {% include 'profile/include_templates/profile_buttons.html' %}
            </div>
        </div>
    </div>
    <script src="{% static 'javascript/buy_house.js' %}"></script>
{% endblock %}