{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <h3>Tilboðslýsing</h3>
            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a id="1" class="active" href="#s1">Hús</a></li>
                    <li class="tab"><a id="2" href="#s2">Kaupandi</a>Kaupandi</li>
                    <li class="tab"><a id="3" href="#s3">Yfirlit</a>Yfirlit</li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="s1">
                    <div class="col s12">
                        <div class="row" id="PracticalInfo">
                            <div class="col l6 m12 s12">
                                <img style="width: 100%" src="{{ my_offer.house.houseimage_set.first }}" alt="{{ my_offer.house.address }} {{ my_offer.house.street_nr }}">
                            </div>
                            <div class="col s6">
                                <table class="float-right">
                                    <tbody>
                                    <tr>
                                        <th>Fasteignamat</th>
                                        <td class="right-align">{{ my_offer.house.price|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <th>Herbergi</th>
                                        <td class="right-align">{{ my_offer.house.houseinfo_set.first.rooms }}</td>
                                    </tr>
                                    <tr>
                                        <th>Byggt</th>
                                        <td class="right-align">{{ my_offer.house.houseinfo_set.first.buildyear }}</td>
                                    </tr>

                                    <tr>
                                        <th>Fermetrar</th>
                                        <td class="right-align">{{ my_offer.house.houseinfo_set.first.size|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <th>Skráð</th>
                                        <td class="right-align">{{ my_offer.house.sellingdate }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <h3 class="btn blue darken-4 forward right">Áfram</h3>
                </div>
                <div id="s2">
                    <div class="col s12">
                        <div class="row" id="PracticalInfo">
                            <div class="col l6 m12 s12">
                                <img style="width: 100%" src="{{ my_offer.house.houseimage_set.first }}" alt="">
                            </div>
                            <div class="col s6">
                                <table class="float-right">
                                    <tbody>
                                    <tr>
                                        <th>Tilboðs upphæð</th>
                                        <td class="right-align">{{ my_offer.price|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <th>Kaupandi</th>
                                        <td class="right-align">{{ my_offer.user.first_name }} {{ my_offer.user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Kennitala</th>
                                        <td class="right-align">{{ my_offer.user.profile.kt }}</td>
                                    </tr>
                                    <tr>
                                        <th>Netfang</th>
                                        <td class="right-align">{{ my_offer.user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Sími</th>
                                        <td class="right-align">{{ my_offer.user.profile.phone }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <h3 class="btn blue darken-4 back left">Til baka</h3>
                    <h3 class="btn blue darken-4 forward_2 right">Áfram</h3>
                </div>
                <div id="s3">
                    <div class="col s12">
                        <div class="row" id="PracticalInfo">
                            <div class="col l6 m12 s12">
                                <img style="width: 100%" class="responsive-img" src="{{ my_offer.house.houseimage_set.first }}" alt="">
                            </div>
                            <div class="col s6">
                                <table class="float-right">
                                    <tbody>
                                    <tr>
                                        <th>Fasteignamat</th>
                                        <td class="right-align">{{ my_offer.house.price|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <th>Tilboðsupphæð</th>
                                        <td class="right-align">{{ my_offer.price|intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <th>Kaupandi</th>
                                        <td class="right-align">{{ my_offer.user.first_name }} {{ my_offer.user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Seljandi</th>
                                        <td class="right-align">{{ my_offer.seller.first_name}} {{ my_offer.seller.last_name }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button data-target="accept" class="btn modal-trigger green right">Samþykkja</button>
                            <button data-target="refuse" class="btn modal-trigger red right">Hafna</button>
                        </div>
                    </div>
                    <div id="accept" class="modal">
                        <div class="modal-content">
                            <h4>Ertu viss um að samþykkja tilboðið?</h4>
                            <p>
                                <a class="modal-close waves-effect btn red darken-4" >Loka</a>
                                <a class="btn modal-trigger modal-close waves-effect btn green darken-2" href="{% url 'profile-approve-offer' my_offer.id %}">Samþykkja</a>
                            </p>
                        </div>
                    </div>
                    <div id="refuse" class="modal">
                        <div class="modal-content">
                            <h4>Ertu viss um að hafna tilboðinu?</h4>
                            <p>
                                <a class="modal-close waves-effect btn red darken-4" >Loka</a>
                                <a class="btn modal-trigger modal-close waves-effect btn green darken-2" href="{% url 'profile-decline-offer' my_offer.id %}">Hafna</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'javascript/sellProp.js' %}"></script>
    <script src="{% static 'javascript/buy_house.js' %}"></script>
{% endblock %}