{% extends 'base.html' %}
{% load humanize %}
{% block content %}

    <div id="map" ></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 64.117209, lng: -21.742400},
                zoom: 12,
                mapTypeControl: false,
                streetViewControl: false,
            });

            var infowindow = new google.maps.InfoWindow({maxWidth: 400});
            {% autoescape off %}
                {% for house in houses %}
                    var location = {{ house.geo }};
                    // Locations OBJ
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(location),
                        map: map,
                        title: '{{house.address}}'
                    });

                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            var des = '      <div class="card">\n' +
                                '        <div class="card-image">\n' +
                                '          <img src="{{ house.image }}">\n' +
                                '          <span class="card-title">{{ house.address }}</span>\n' +
                                '        </div>\n' +
                                '        <div class="card-content">\n' +
                                '          <p class=>{{house.description}}</p>\n' +
                                '        </div>\n' +
                                '        <div class="card-action">\n' +
                                '          <a href="/house/{{ house.id }}">Meira um {{ house.address }} </a>\n' +
                                '        </div>\n' +
                                '      </div>\n' +
                                '        <style>\n' +
                                '           .card-image{max-height: 300px;}\n' +
                                '           .housed{\n' +
                                '               width: 280px;\n' +
                                '               white-space: nowrap;\n' +
                                '                overflow: hidden;\n' +
                                '                text-overflow: ellipsis;\n' +
                                '           }\n' +
                                '        </style>';
                            infowindow.setContent(des);
                            infowindow.open(map, marker);
                        }
                    })(marker, {{ x.id}}));
                {% endfor %}
            {% endautoescape %}
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM--hFf2vF_tToG03z8h6Gmqs6hWwBan4&callback=initMap">
    </script>
{% endblock %}