{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Register</h1>
            <form class="col s12 m12 l8" method="POST">
                {% csrf_token %}
                {% for element in form %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ element }}
                            <label for="{{ element.id }}">{{ element.label_tag }}</label>
                            {% if element.help_text %}
                                <span class="helper-text" data-success="right">{{ element.help_text }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn blue darken-4">Nýská</button>
            </form>
        </div>
        <a href="{% url 'login-index' %}"><button class="btn">Núþegar með aðgang?</button></a>
    </div>
{% endblock %}