{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="center" id="FirstHalfOfSite">
            <h2>{{ house.address }} {{ house.street_nr }}, {{ house.p_code }}</h2>
            <hr id="Underline">
            <!--<img width="900" src="{{ house.houseimage_set.first.image }}" alt="{{ house.address }}">-->
            <br>
        </div>

   <!-- <div class="carousel" id="demo-carousel">
            {% for image in house.houseimage_set.all %}
                <a class="carousel-item" href="#{{ image.id }}"><img class="myndir" src="{{ image }}" alt="{{ house.address }}"></a>
            {% endfor %}
        </div>>-->


    <div class="carousel carousel-slider" data-indicators="true">
            {% for image in house.houseimage_set.all %}
                <a href="#{{ image.id }}" class="carousel-item"><img src="{{ image }}" class="center" alt="{{ image.id }}"></a>
            {% endfor %}
        </div>

        <style>
            #PhoneNrAndEmail{
                font-size: 0.5;
            }
            .div1 {
                width: 100%;
                height: 100px;
                border: 1px solid black;
                box-sizing: border-box;
                background-color: grey;
}
            .carousel-item img{
                height: 400px;
                width: 300px !important;
            }
            .carousel .carousel-item {
            width:300px !important;
            }
                }
                .card-action{
                    font-size: 0.6;
                }
}
        </style>
        <script>
            $(document).ready(function(){
                $('.carousel').carousel();
            });
        </script>

        <div class="row" id="PracticalInfo">
            <div class="col s12"></div>
            <div class="col s6">
                <table class="float-right">
                    <tbody>
                    <tr>
                        <th>Herbergi</th>
                        <td class="right-align">{{ house.houseinfo_set.first.rooms }}</td>
                    </tr>
                    <tr>
                        <th>Fasteignamat</th>
                        <td class="right-align" >{{ house.price|intcomma }}</td>
                    <tr>
                        <th>Byggt</th>
                        <td class="right-align">{{ house.houseinfo_set.first.buildyear }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col s6">

                <table class="right">
                    <tbody>
                    <tr>
                        <th>Fermetrar</th>
                        <td class="right-align">{{ house.houseinfo_set.first.size|intcomma }}</td>
                    </tr>
                    <tr>
                        <th>Skráð</th>
                        <td class="right-align">{{ house.sellingdate }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div class="row" id="InfoAboutHouse">
                <div class="col s10">
                    <h6>Lýsing</h6>
                    <div class="div1">
                        {{ house.houseinfo_set.first.description }}
                    </div>
                </div>
                <img id="PhotoOfSeller" src="{{ house.seller.profile_pic }}" alt="{{ house.seller.name }}">
                <div class="row">
                    <div class="col s2">
                        <div class="card">
                            <div class="card-image">
                                <img id="PhotoOfSeller" src="{{ house.seller.profile.profile_pic }}" alt="{{ house.seller.first_name }} {{ house.seller.last_name }}">
                                <span class="card-title"> afaf</span>
                            </div>
                            <div class="card-content">
                                <h6 class="valign-wrapper">{{ house.seller.first_name }} {{ house.seller.last_name }}</h6>
                                <hr id="Underline">
                                <div class="center-align" id="PhoneNrAndEmail">
                                    <div><a href="tel: {{ house.seller.profile.phone }}">Sími: {{ house.seller.profile.phone }}</a></div>
                                    <div><a href="mailto: {{ house.seller.email }}">Netfang: {{ house.seller.email }}</a></div>
                                    <a href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <div>
                    {% if user.is_authenticated and house.user == user or user.is_superuser %}
                        <button type="submit" onsubmit="{% url 'profile-sell-property' %}" class="btn grey left">Eyða fasteign</button>
                    {% endif %}
                    <a href="{% url 'profile-buy-property' house.id %}" class="btn green darken-4 right">Setja inn tilboð</a>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
