{% extends 'base.html' %}
{%  load static %}
{% block content %}
    <div class="row">
        <div class="col s12 l3 m12">
            <div class="card">
                <div class="dropdowns">
                    <div class="input-field col s12">

                        <select id="types" name="types" multiple>
                            <option value="" disabled selected>Týpa</option>
                            {% for type in types %}
                                <option value="{{ type.id }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-field col s12">
                        <select id="postal_codes" name="postal_codes" multiple>
                            <option value="" disabled selected>Póstnúmer</option>
                            <optgroup label="Reykjavik t.d">
                                {% for town in towns %}
                                    <option value="{{ town.id }}">{{ town.id }} - {{ town.town }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>

                    <div class="input-field col s12">
                        <select id="rooms" name="rooms" multiple>
                            <option value="" disabled selected>Herbergi</option>
                            {% for i in rooms %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="check_boxes">
                    <div class="left_boxes">
                        <p>
                            <label>
                                <input id="garage" name="garage" type="checkbox" />
                                <span>Bílskúr</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input id="new_house" name="garage" type="checkbox" />
                                <span>Nýtt hús</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input id="extra_apart" type="checkbox"/>
                                <span>Auka húsnæði</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input id="special_eterance" type="checkbox" />
                                <span>Sér inngangur</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input id="lift" type="checkbox" />
                                <span>Lyfta</span>
                            </label>
                        </p>

                    </div>
                </div>
                <div class="input-field col s6">
                    <select id="price_from" name="price">
                        <option value="" disabled selected>Verð frá</option>
                        <option value="1000000">1 mkr.</option>
                        <option value="5000000">5 mkr.</option>
                        <option value="10000000">10 mkr.</option>
                        <option value="15000000">15 mkr.</option>
                        <option value="20000000">20 mkr.</option>
                        <option value="25000000">25 mkr.</option>
                        <option value="30000000">30 mkr.</option>
                        <option value="40000000">40 mkr.</option>
                        <option value="50000000">50 mkr.</option>
                        <option value="60000000">60 mkr.</option>
                        <option value="70000000">70 mkr.</option>
                        <option value="80000000">80 mkr.</option>
                        <option value="90000000">90 mkr.</option>
                        <option value="100000000">100 mkr.</option>
                    </select>

                </div>
                <div class="input-field col s6">
                    <select id="price_to" name="rooms">
                        <option value="" disabled selected>Verð til</option>
                        <option value="1000000">1 mkr.</option>
                        <option value="5000000">5 mkr.</option>
                        <option value="10000000">10 mkr.</option>
                        <option value="15000000">15 mkr.</option>
                        <option value="20000000">20 mkr.</option>
                        <option value="25000000">25 mkr.</option>
                        <option value="30000000">30 mkr.</option>
                        <option value="40000000">40 mkr.</option>
                        <option value="50000000">50 mkr.</option>
                        <option value="60000000">60 mkr.</option>
                        <option value="70000000">70 mkr.</option>
                        <option value="80000000">80 mkr.</option>
                        <option value="90000000">90 mkr.</option>
                        <option value="100000000">100 mkr.</option>
                    </select>

                </div>

                <button id="submit_button" class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>

            </div>
        </div>

        <div class="housess col l9">
            {% for house in houses %}
                {% include 'house/single_house.html' with house=house %}
            {% endfor %}
        </div>

    </div>
    <script src="{% static 'javascript/side_bar.js' %}"></script>
    <script src="{% static 'javascript/houses.js' %}"></script>

{% endblock %}