{% extends 'base.html' %}
{%  load static %}
{% block content %}
    <div class="row">
        <div class="col s12 l3 m12">
            <div class="card">
                <div class="dropdowns">
                    <div class="input-field col s12">
                        <select id="type_choice" name="types" multiple>
                            <option value="" disabled selected>Týpa</option>
                            {% for type in types %}
                                <option>{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field col s12">
                        <select id="postal_codes" name="postal_codes" multiple>
                            <option value="" disabled selected>Póstnúmer</option>
                            <optgroup label="Reykjavik t.d">
                                {% for town in towns %}
                                    <option value="{{ town.id }}">{{ town.id }} - {{ town.town }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                    <div class="input-field col s12">
                        <select id="rooms" name="rooms" multiple>
                            <option value="" disabled selected>Herbergi</option>
                            {% for i in rooms %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="check_boxes">
                    <div class="left_boxes">
                        <p>
                            <label>
                                
                                <input name="garage" type="checkbox" />
                                <span>Bílskúr</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="new_house" type="checkbox" />
                                <span>Nýtt hús</span>
                            </label>
                        </p><p>
                        <label>
                            <input name="entrance" type="checkbox" />
                            <span>Sér inngangar</span>
                        </label>
                    </p>
                        <p>
                            <label>
                                <input name="lift" type="checkbox"/>
                                <span>Lyfta</span>
                            </label>
                        </p>
                    </div>
                </div>

                <button id="submit_button" class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>

            </div>
        </div>

        <div class="housess col l9">
            {% for house in houses %}
                {% include 'house/single_house.html' with house=house %}
            {% endfor %}
        </div>

    </div>
    <script src="{% static 'javascript/side_bar.js' %}"></script>
    <script src="{% static 'javascript/houses.js' %}"></script>

{% endblock %}