{% load humanize %}
<section>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img style="height: 250px"  alt="{{ house.house.address }} {{ house.house.street_nr }}" src="{{ house.house.houseimage_set.first.image }}">
            </div>
            <div class= "card-content">
                <article>
                    <span class="card-title">{{ house.house.address }} {{ house.house.street_nr }}
                        <div style="width: 30px!important; margin: 0 auto" class="right">
                            <a id="fav_button" data-id="{{ house.house.id }}" href="#">
                                {% if house.fav %}
                                    <i style="font-size: 1.5em;" class="material-icons turn">turned_in</i>
                                {% else %}
                                    <i style="font-size: 1.5em;" class="material-icons turn">turned_in_not</i>
                                {% endif %}
                            </a>
                        </div>
                    </span>

                    <small>{{ house.house.p_code }} <span class="right">{{ house.house.price|intcomma  }} kr</span></small>
                    <p class="truncate">{{house.house.houseinfo_set.first.description }}</p>
                    <br>
                    <p>
                        <b>{{house.house.houseinfo_set.first.type }}</b> sem að er
                        <b>{{house.house.houseinfo_set.first.size }}</b>
                        fermetrar og hefur <b>{{house.house.houseinfo_set.first.rooms }}</b> herbergi</p>
                    <small>{{house.house.sellingdate }}</small>
                </article>
            </div>
            <div style="height: 75px" class="card-action">
                <a class="btn waves-effect blue darken-3 col s12 m12 l12" style="color: white" href="/house/{{ house.house.id }}">SJÁ NÁNAR</a>
            </div>
        </div>
    </div>
</section>
