{% load humanize %}
<section>
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img style="height: 250px"  alt="{{ house.house.address }} {{ house.house.street_nr }}" src="{{ house.house.houseimage_set.first.image }}">
            </div>
            <div class= "card-content">
                <article>
                    <span class="card-title"><strong>{{ house.house.address }} {{ house.house.street_nr }}</strong>
                        <div style="width: 30px!important; margin: 0 auto" class="right">
                            {% if user.is_authenticated %}
                                <a id="fav_button" data-id="{{ house.house.id }}" href="#">
                                    {% if house.fav %}
                                        <i style="font-size: 1.5em;" class="material-icons turn">turned_in</i>
                                    {% else %}
                                        <i style="font-size: 1.5em;" class="material-icons turn">turned_in_not</i>
                                    {% endif %}
                                </a>
                            {% else %}
                                <a href="{% url 'login-index' %}?next=/house">
                                    <i style="font-size: 1.5em;" class="material-icons turn">turned_in_not</i>
                                </a>
                            {% endif %}
                        </div>
                    </span>
                    <p><strong>{{ house.house.price|intcomma  }} kr</strong></p>
                    <br>
                    <div style="margin-bottom: 0px" class="row">
                        <div class="col s6 m6 l6">
                            <p>Tegund: <strong>{{house.house.houseinfo_set.first.type }}</strong></p>
                        </div>
                        <div class="col s6 m6 l6">
                            <p class="right-align">Stærð <strong>{{house.house.houseinfo_set.first.size }} m²</strong></p>
                        </div>
                    </div>
                    <hr>
                    <div style="margin-bottom: 0px" class="row">
                        <div class="col s6 m6 l6">
                            <p>Byggt: <strong>{{house.house.houseinfo_set.first.buildyear }}</strong></p>
                        </div>
                        <div class="col s6 m6 l6">
                            <p class="right-align">Herbergi: <strong>{{house.house.houseinfo_set.first.rooms }}</strong></p>
                        </div>
                    </div>
                    <hr>
                    <small>{{house.house.sellingdate }}</small>
                </article>
            </div>
            <div style="height: 75px" class="card-action">
                <a class="btn waves-effect blue darken-3 col s12 m12 l12" style="color: white" href="/house/{{ house.house.id }}">SJÁ NÁNAR</a>
            </div>
        </div>
    </div>
</section>
