<section>
    <div class="col s12 m7 l3">
      <div class="card">
        <div class="card-image">
          <img alt="{{ house.address }} {{ house.house_nr }}" src="{{ house.houseimage_set.first.image }}">
          <span class="card-title">{{ house.address }} {{ house.house_nr }}</span>
        </div>
        <div class="card-content">
            <article>
                <p>{{ house.description }}</p>
            </article>
        </div>
        <div class="card-action">
          <a class="black-text" href="/{{ house.id }}">Skoða nánar</a>
        </div>
      </div>
    </div>
</section>