{% for element in form %}
    {% if form == "bank_info" %}
        <div class="row">
            <div class="input-field col s12">
                {{ element }}
                <label for="{{ element.id }}">{{ element.label_tag }}</label>
                {% if element.help_text %}
                    <span id="box" class="helper-text" data-success="right">{{ element.help_text }}</span>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="input-field col s12">
                {{ element }}
                <label for="{{ element.id }}">{{ element.label_tag }}</label>
                {% if element.help_text %}
                    <span class="helper-text" data-success="right">{{ element.help_text }}</span>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}